@font-face {
   font-family: 'Dosis-Medium';
   font-display: swap;
   src: url('file:///Users/freivincampbell/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-12-27_201215/fonts/Dosis-Medium/font.ttf');
}
